# Exploratory Data Analysis and Modelling

## Importing Necessary Libraries

In [1]:
import pandas as pd
import numpy as np

## Reading the CSV file

In [2]:
track_df = pd.read_csv('spotifytrackinfo.csv')
track_df.head(1)

,Unnamed: 0,track_id,track_name,first_artist,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,uri,duration_ms,time_signature,mood
0,0,7tqhbajSfrz2F7E1Z75ASX,Ain't No Mountain High Enough,Marvin Gaye,0.663,0.6,7,-10.87,1,0.032,0.43,0.0,0.184,0.8,129.991,spotify:track:7tqhbajSfrz2F7E1Z75ASX,151667,4,happy

Since we already have an index column, we can drop the index.

In [3]:
track_df.drop('Unnamed: 0', inplace=True, axis=1)
track_df.head(1)

,track_id,track_name,first_artist,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,uri,duration_ms,time_signature,mood
0,7tqhbajSfrz2F7E1Z75ASX,Ain't No Mountain High Enough,Marvin Gaye,0.663,0.6,7,-10.87,1,0.032,0.43,0.0,0.184,0.8,129.991,spotify:track:7tqhbajSfrz2F7E1Z75ASX,151667,4,happy

# Exploring the Data

In [4]:
track_df.describe()

,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,time_signature
count,1420.000000,1420.000000,1420.000000,1420.000000,1420.000000,1420.000000,1420.000000,1420.000000,1420.000000,1420.000000,1420.000000,1420.000000,1420.000000
mean,0.610639,0.556466,5.149296,-8.322734,0.706338,0.065444,0.365333,0.056656,0.169778,0.477549,118.535581,211259.254930,3.895775
std,0.147548,0.222184,3.564007,3.620045,0.455599,0.065977,0.316665,0.173492,0.135339,0.242011,28.194598,51346.174221,0.377834
min,0.112000,0.033200,0.000000,-24.646000,0.000000,0.023600,0.000008,0.000000,0.023200,0.027700,46.923000,87000.000000,1.000000
25%,0.511000,0.392000,2.000000,-10.477750,0.000000,0.032400,0.070225,0.000000,0.096775,0.266000,97.040750,176354.500000,4.000000
50%,0.621000,0.568500,5.000000,-7.753500,1.000000,0.041950,0.271000,0.000034,0.115000,0.470500,118.391500,207527.500000,4.000000
75%,0.715000,0.731000,8.000000,-5.642000,1.000000,0.066625,0.635250,0.004542,0.189000,0.674000,135.232500,240149.750000,4.000000
max,0.978000,0.997000,11.000000,0.080000,1.000000,0.563000,0.993000,0.949000,0.951000,0.980000,209.942000,486187.000000,5.000000